
.centered-page {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh; /* Adjust as needed for full viewport height */
  }
  
  .centered-containerrr {
    margin-top: 20%;
    align-items: center;
    text-align: center;
  }
  .App {
    text-align: center;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .headinggg {
    color: #ffffff!important;
    font-size: 28px;
    margin-bottom: 3%;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
  }
  
  .subheadinggg {
    color: #ffffff !important;
  font-size: 18px;
  max-width: 40%; /* Changed 'width' to 'max-width' for responsiveness */
  margin: 0 auto; /* Center the subheading horizontally */
  margin-bottom: 2%;
  font-family: "Roboto Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  }
  
  .action-buttonn {
    padding: 10px 20px;
    font-size: 16px;
    color: #242d36;
    background-color: #ffffff;
    border: none;
    width: 15%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    margin: 0 auto; /* Center the action-button horizontally */
    text-decoration: none; /* Disable default link styling */
    display: inline-block; /* Ensure the button is treated as a block-level element */
  }
  
  